<!DOCTYPE html>
<html lang="en">
<head>
    <title>MobileSecondHand - sprzedaż, kupno, wymiana ubrań w twojej okolicy</title>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link href="~/css/grid.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.js"></script>
    <script src="~/js/device.min.js"></script>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style="clear: both; text-align:center; position: relative;"><a
            href="http://windows.microsoft.com/en-US/internet-explorer/.."><img
            src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
    </div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/device.min.js"></script>
</head>
<body>
    @RenderBody();

    <script src="~/js/script.js"></script>

    <!-- coded by Kirk-->
</body>
</html>