@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <header>
        <h1 class="brand"><a href="#home">Mobile <span class="text-primary">Second hand</span></a></h1>
        <ul class="inline-list">
            <li><a href="#" class="icon icon-xs fa-facebook"></a></li>
            <li><a href="#" class="icon icon-xs fa-twitter"></a></li>
            <li><a href="#" class="icon icon-xs fa-google-plus"></a></li>
        </ul>
        <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
                <li class="active">
                    <a href="#home"></a>
                </li>
                <li>
                    <a href="#about"></a>
                </li>
                <li>
                    <a href="#features"></a>
                </li>
                <li>
                    <a href="#description"></a>
                </li>
                <li>
                    <a href="#product"></a>
                </li>
                <li>
                    <a href="#testimonials"></a>
                </li>
                <li><a href="#contacts"></a></li>
            </ul>
        </nav>
    </header>
    <!--
    ========================================================
                                CONTENT
    ========================================================
    -->
    <main class="main">
        <section id="home" class="well-2 z-index bg-image-1 bg-image--skin-1 flex flex-center relative text-center text-lg-left">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-1 max-width-xl">
                        <h1>Aplikacja mobilna<br>dla dziewczyn i nie tylko</h1>
                        <h6 class="text-primary">Mobile SecondHand - wszędzie z tobą, zawsze w zasięgu ręki.</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</p>
                        <a href="#" class="btn btn-secondary btn-with-icon material-icons-local_grocery_store">Ściągnij!</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class=" bg-image-2 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row well-2">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7 max-width-xl">
                        <h1>Jaka jest najlepsza aplikacja do wymiany ciuchów?</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</p><a href="#"
                                                                                                                                                                                                                                                                                                                                                                   class="btn btn-primary btn-with-icon material-icons-local_grocery_store">Pobierz!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="well-2 bg-image-3 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
                        <h1>Wymieniaj ubrania w Twojej okolicy</h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Mauris tempus, nulla in finibus porta, nunc magna fringilla lacus, eu rhoncus turpis nibh in elit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Mauris tempus, nulla in finibus porta, nunc magna fringilla lacus, eu rhoncus turpis nibh in elit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Mauris tempus, nulla in finibus porta, nunc magna fringilla lacus, eu rhoncus turpis nibh in elit.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-secondary btn-with-icon material-icons-local_grocery_store">Przetestuj!</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </section>

        <section id="description" class="text-center text-white flex flex-center  vide" data-vide-bg="video/video-bg01">
            <div class="container-fluid well-2  max-width-xl">
                <h1 class="text-white">Nie musisz niczego dźwigać!</h1>
                <div class="row offset-1">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi. </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="product" class="well-2 z-index bg-image-4 bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7">
                        <h1>Najważniejsze funkcjonalności</h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Donec nec mauris ac sem fermentum blandit vel non mauris.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Donec nec mauris ac sem fermentum blandit vel non mauris.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Donec nec mauris ac sem fermentum blandit vel non mauris.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-with-icon material-icons-local_grocery_store">Pobierz!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonials" class="text-center relative bg-primary">
            <div class="container-fluid relative well-2 z-index  bg-primary inset-1">
                <h1>Co sądzą inni o naszej aplikacji?</h1>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="owl-carousel">
                            <div class="item">
                                <blockquote class="quote">
                                    page-1_img02.jpg
                                    <div class="img"><img src="@Url.Content("~/images/advertisementItem/page-1_img02.jpg")" alt="" class="circle"></div>
                                    <p>
                                        <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</q>
                                    </p>
                                    <cite>Dejvid</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="quote">
                                    <div class="img"><img src="@Url.Content("~/images/advertisementItem/page-1_img03.jpg")" alt="" class="circle"></div>
                                    <p>
                                        <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</q>
                                    </p>
                                    <cite>Liza</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="quote">
                                    <div class="img"><img src="@Url.Content("~/images/advertisementItem/page-1_img04.jpg")" alt="" class="circle"></div>
                                    <p>
                                        <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</q>
                                    </p>
                                    <cite>Amanda</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts" class="text-center flex">
            <div class="container-fluid relative flex-center bg-contrast z-index well-2">
                <h1>Skontaktuj się</h1>
                <!-- RD Mailform -->
                <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                    <!-- RD Mailform Type -->
                    <input type="hidden" name="form-type" value="contact" />
                    <!-- END RD Mailform Type -->
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                <label data-add-placeholder>
                                    <input type="text"
                                           name="name"
                                           placeholder="Name:"/>
                                </label>

                                <label data-add-placeholder>
                                    <input type="text"
                                           name="email"
                                           placeholder="E-mail:"/>
                                </label>

                                <label data-add-placeholder>
                                    <textarea name="message" placeholder="Message:"></textarea>
                                </label>

                                <div class="mfControls btn-group text-center">
                                    <button class="btn btn-md btn-primary" type="submit">Wyślij</button>
                                </div>

                                <div class="mfInfo"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- END RD Mailform -->
                <div class="copyright">
                    Mobile SecondHand © <span id="copyright-year"></span> All Rights Reserved
                    <!-- {%FOOTER_LINK} -->
                </div>
            </div>
        </section>
    </main>
</div>