@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <header>
        <h1 class="brand"><a href="#home">Mobile Second Hand</a></h1>
        <ul class="inline-list">
            <li><a target="_blank" href="https://www.facebook.com/mobilesecondhandapp/?fref=ts" class="icon icon-xs fa-facebook"></a></li>
        </ul>
        <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
                <li class="active">
                    <a href="#home"></a>
                </li>
                <li>
                    <a href="#about"></a>
                </li>
                <li>
                    <a href="#features"></a>
                </li>
                <li>
                    <a href="#description"></a>
                </li>
                <li>
                    <a href="#product"></a>
                </li>
                <li>
                    <a href="#testimonials"></a>
                </li>
                <li><a href="#contacts"></a></li>
            </ul>
        </nav>
    </header>
    <!--
    ========================================================
                                CONTENT
    ========================================================
    -->
    <main class="main">
        <section id="home" class="well-2 z-index bg-image-1 bg-image--skin-1 flex flex-center relative text-center text-lg-left">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-1 max-width-xl">
                        <h1>Aplikacja mobilna na androida ułatwiająca sprzedać/kupić/wymienić ciuchy!</h1>
                        <h6>Mobile Second Hand - wszędzie z Tobą, zawsze w zasięgu ręki.</h6>

                        <p>Czy Twoja szafa jest przepełniona ubraniami, których z różnych powodów nie zakładasz, ale szkoda Ci je ot tak po prostu wyrzucić?</p>
                        <p>Próbowałaś sprzedać je na portalach ogłoszeniowych, ale odzew był zerowy?</p>
                        <p>A może uwielbiasz polować na okazje w second hand'ach, ale nie zawsze masz na to czas?</p>
                        <h6>Z aplikacją Mobile Second Hand będzie to proste i przyjemne!</h6>
                        <a href="" class="btn btn-secondary btn-with-icon material-icons-local_grocery_store go-to-shop">Wejdź do sklepu!</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class=" bg-image-2 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row well-2">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7 max-width-xl">
                        <h1>Ogłoszenia z Twojej okolicy w Twoim smartfonie!</h1>

                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi.</p>*@
                        <a href="#" class="btn btn-primary btn-with-icon material-icons-local_grocery_store go-to-shop">Pobierz!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="well-2 bg-image-3 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
                        <h1>Otrzymuj powiadomienia o interesujących Cię ogoszeniach wokół Ciebie</h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Wybierasz interesujące Cię kategorie ubrań, rozmiary oraz odległość od Ciebie.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Jeśli pojawią się nowe ogłoszenia spełniające wybrane przez Ciebie kryteria dostaniesz o nich powiadomienie.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Nie musisz biegać po second hand'ach. Możesz mieć jeden czynny przez całą dobę w swoim telefonie.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-secondary btn-with-icon material-icons-local_grocery_store go-to-shop">Zainstaluj!</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </section>

        <section id="description" class="text-center text-white flex flex-center  vide" data-vide-bg="video/video-bg01">
            <div class="container-fluid well-2  max-width-xl">
                <h1 class="text-white">Poluj na okazje bez wychodzenia z domu!</h1>
                <div class="row offset-1">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in ullamcorper est, eu commodo est. Nunc aliquam congue leo vitae iaculis. Mauris ac arcu elit. Suspendisse sapien lacus, aliquet ac rhoncus id, ornare in lorem. Phasellus elit lectus, hendrerit vitae velit eu, fermentum tincidunt ante. Nam vel malesuada mi. </p>*@
                    </div>
                </div>
            </div>
        </section>
        <section id="product" class="well-2 z-index bg-image-4 bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7">
                        <h1>Najważniejsze funkcjonalności</h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Łatwe filtrowanie ogłoszeń. Przeglądasz to co Cię interesuje.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Zawsze wiesz jaka odległość dzieli Cię od autora ogłoszenia.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Prywatna korespondencja "real time" między użytkownikami.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-with-icon material-icons-local_grocery_store go-to-shop">Przetestuj!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonials" class="text-center relative bg-primary">
            <div class="container-fluid relative well-2 z-index  bg-primary inset-1">
                <h1>Historia powstania aplikacji</h1>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="item">
                            <blockquote class="quote">
                                <div class="img"><img src="@Url.Content("~/images/page-1_img02.jpg")" alt="" class="circle"></div>
                                <p>
                                    <q>
                                        Pomysł na aplikację pojawił się w odpowiedzi na ogłoszenie konkursu "Daj się poznać 2016" organizowanego przez Maćka Aniserowicza, polegającego na równoczesnym tworzeniu projektu IT oraz jego opisywaniu na blogu.
                                        Pomysłodawcą i twórcą aplikacji jest Marcin Szyszka - chcący być programistą nie tylko jednej technologii. Początkowo projekt miał charakter czysto hobbystyczny bez planów na finał w sklepie z aplikacjami,
                                        jednak po motywującej rozmowie z Jarkiem Miernickim oraz jego ofercie pomocy przy reklamie i pozyskiwaniu użytkowników plany się sprecyzowały. Z racji tego, że Marcin zawodowo zajmuje się aplikacjami internetowymi,
                                        pierwsza wersja tej aplikacji powstawała "po godzinach" przez blisko 9 miesięcy.<br />Dalszy los aplikacji zależy od Ciebie, od Was - użytkowników. Jeśli masz jakieś uwagi, pomysły, propozycje lub problemy - napisz do nas. Każda uwaga jest dla nas cenna.
                                    </q>
                                </p>
                                <cite>Marcin</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts" class="text-center flex">
            <div class="container-fluid relative flex-center bg-contrast z-index well-2">
                <h1>Skontaktuj się</h1>
                <!-- RD Mailform -->
                <form id="contactForm" class='rd-mailform'>
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                <label data-add-placeholder>
                                    <input id="name"
                                           type="text"
                                           name="name"
                                           placeholder="Imię:" />
                                </label>

                                <label data-add-placeholder>
                                    <input id="email"
                                           type="text"
                                           name="email"
                                           placeholder="E-mail:" />
                                </label>

                                <label data-add-placeholder>
                                    <textarea id="message" name="Message" placeholder="Wiadomość:"></textarea>
                                </label>

                                <div class="mfControls btn-group text-center">
                                    <button class="btn btn-md btn-primary" type="submit">Wyślij</button>
                                </div>

                                <div class="mfInfo mfProgress">
                                    <span class="msg">Wysyłanko</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- END RD Mailform -->
                <div class="copyright">
                    Mobile Second Hand © <span id="copyright-year"></span> All Rights Reserved
                    <!-- {%FOOTER_LINK} -->
                </div>
            </div>
        </section>
    </main>
</div>
